classificador.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "filtro-notas",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6576,
        4448
      ],
      "id": "42354e7b-7cce-4c35-b42f-3d66a3002048",
      "name": "Webhook",
      "webhookId": "ebadc9e0-3431-4cd9-aa9a-76711ef13a70"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrgnfzxjkhnrdxkfkuxc.supabase.co/functions/v1/get-or-create-contact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1yZ25menhqa2hucmR4a2ZrdXhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUzNzA1NzQsImV4cCI6MjA4MDk0NjU3NH0.jn-tV7wjB8KgVv8KapEJ5sWHT5btHqfVzMBKZ4CzKrU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone_number\": \"{{ $('Data Handler').item.json.Telefone }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5680,
        4432
      ],
      "id": "f72d25a7-c600-47d4-aa79-297550bd057a",
      "name": "Get Contact"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "contact-exists",
              "name": "contact_exists",
              "value": "={{ $json.contact ? true : false }}",
              "type": "boolean"
            },
            {
              "id": "contact-name",
              "name": "contact_name",
              "value": "={{ $json.contact?.name || '' }}",
              "type": "string"
            },
            {
              "id": "contact-email",
              "name": "contact_email",
              "value": "={{ $json.contact?.email || '' }}",
              "type": "string"
            },
            {
              "id": "contact-base",
              "name": "contact_base",
              "value": "={{ $json.contact?.base || '' }}",
              "type": "string"
            },
            {
              "id": "contact-phone",
              "name": "contact_phone",
              "value": "={{ $('Data Handler').item.json.Telefone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5440,
        4432
      ],
      "id": "0c4549fd-8d17-4a8a-947c-08d6a75dd481",
      "name": "Set Contact Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-contact-exists",
              "leftValue": "={{ $json.contact_exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5248,
        4432
      ],
      "id": "f92015ce-2e6f-4cca-b225-d2804db6c350",
      "name": "Check Contact Exists"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mensagem-first-time",
              "name": "Mensagemtratada",
              "value": "={{ $('Data Handler').item.json.data.text }}",
              "type": "string"
            },
            {
              "id": "identifier-first-time",
              "name": "identifier",
              "value": "={{ $('Data Handler').item.json.data.remoteJid }}",
              "type": "string"
            },
            {
              "id": "contact-exists-first-time",
              "name": "contact_exists",
              "value": "={{ $json.contact_exists }}",
              "type": "boolean"
            },
            {
              "id": "contact-phone-first-time",
              "name": "contact_phone",
              "value": "={{ $json.contact_phone }}",
              "type": "string"
            },
            {
              "id": "link-comprovante-first-time",
              "name": "link_comprovante",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4144,
        4672
      ],
      "id": "1c5ac54a-f8f8-4017-bfc7-74e1e6812baf",
      "name": "Prepare First Time Flow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Lg1lhzPZHfy0IPkCvZkxB",
          "mode": "list",
          "cachedResultUrl": "/workflow/Lg1lhzPZHfy0IPkCvZkxB",
          "cachedResultName": "Save Contact"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "base": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('base', ``, 'string') }}",
            "phone_number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone_number', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "base",
              "displayName": "base",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -2704,
        4640
      ],
      "id": "08a138b4-7da1-437f-9325-73a0c6d977d4",
      "name": "Save Contact"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35564665-f6fa-4f4f-b9e2-c2498e15222e",
              "name": "data.remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "5361ccd9-341b-44d2-9ab7-98957588ffcd",
              "name": "data.fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "c3288898-4890-45e6-b8c2-719b467cc2b3",
              "name": "data.id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "97a92e9f-70a0-4e37-b10b-30d61f4fe9e5",
              "name": "data.text",
              "value": "={{ $json.body.data.message.conversation }}{{ $json.body.data.message.extendedTextMessage.text }}",
              "type": "string"
            },
            {
              "id": "713e0d21-8851-4167-9f07-9dffddd49505",
              "name": "data.messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "17ef83c1-581c-4ead-be02-51c07860d60f",
              "name": "data.source",
              "value": "={{ $json.body.data.source }}",
              "type": "string"
            },
            {
              "id": "58baac00-9baf-438d-bfe6-739ea31c349a",
              "name": "evo.server_url",
              "value": "=https://evo.appsoncafari.cloud",
              "type": "string"
            },
            {
              "id": "a24fd771-225b-49a1-a84c-4f74f234c878",
              "name": "evo.instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "582c84eb-0936-4258-8afc-87726a352606",
              "name": "evo.apikey",
              "value": "={{ $json.body.apikey || 'B6D711FCDE4D4FD5936544120E713976' }}",
              "type": "string"
            },
            {
              "id": "78c2763e-193b-4f7a-a9a8-3e198acaf421",
              "name": "data.mediaUrl",
              "value": "={{ $json.body.data.message.audioMessage.url }}",
              "type": "string"
            },
            {
              "id": "301c3b26-6b5b-42a5-875c-a0fe52c36ea1",
              "name": "base64",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            },
            {
              "id": "15e4749f-51d7-44c3-9d8d-5f7c028e589c",
              "name": "Telefone",
              "value": "={{ $json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\") }}",
              "type": "string"
            },
            {
              "id": "92ad044e-f6e6-4d87-8921-2738e74ddde3",
              "name": "nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "73b5e08f-2cea-436f-a32e-70e766dfcb91",
              "name": "mensagem_complete_redis",
              "value": "={{ $json.body.data.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5968,
        4432
      ],
      "id": "7da2dfa5-34fa-4cca-bb77-96630ad89681",
      "name": "Data Handler",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Data Handler').item.json.data.remoteJid }}",
        "value": "={{ $json.content }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3824,
        4416
      ],
      "id": "dc673080-f498-44a7-ac58-7da132e04a3e",
      "name": "Image Memory1",
      "credentials": {
        "redis": {
          "id": "WCc2AqjhU9R8RNcQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "imagem",
        "options": {
          "fileName": "converterimagem",
          "mimeType": "=image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -4528,
        4432
      ],
      "id": "d7e9ef45-69da-45aa-95a6-531192d24b93",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Data Handler').item.json.data.text }}",
                    "rightValue": {},
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "ae4a01af-effe-4b31-9636-d38c94deb080"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a8f2d2a4-e2a3-4627-9a43-5008fc6579b9",
                    "leftValue": "={{ $json.imagem }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4768,
        4416
      ],
      "id": "b68321bf-3a88-4db5-b981-6dfeb28aeeb8",
      "name": "Message Type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "204639b2-7c10-4fe4-af43-6ad8179d84e7",
              "name": "Mensagemtratada",
              "value": "={{ $json.text }}{{ $json.content || '' }}",
              "type": "string"
            },
            {
              "id": "6541f5b8-d3cc-41b4-ac2a-1d60d4d542f6",
              "name": "identifier",
              "value": "={{ $('Data Handler').item.json.data.remoteJid }}",
              "type": "string"
            },
            {
              "id": "contact-exists-edit4",
              "name": "contact_exists",
              "value": "={{ $('Set Contact Data').item.json.contact_exists }}",
              "type": "boolean"
            },
            {
              "id": "contact-name-edit4",
              "name": "contact_name",
              "value": "={{ $('Set Contact Data').item.json.contact_name || '' }}",
              "type": "string"
            },
            {
              "id": "contact-email-edit4",
              "name": "contact_email",
              "value": "={{ $('Set Contact Data').item.json.contact_email || '' }}",
              "type": "string"
            },
            {
              "id": "contact-base-edit4",
              "name": "contact_base",
              "value": "={{ $('Set Contact Data').item.json.contact_base || '' }}",
              "type": "string"
            },
            {
              "id": "contact-phone-edit4",
              "name": "contact_phone",
              "value": "={{ $('Set Contact Data').item.json.contact_phone || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3536,
        4432
      ],
      "id": "595a3e64-e3d4-4881-bc67-0c7e7899c948",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Questão do Usuário:{{ $json.Mensagemtratada }};\n\n⚠️ STATUS DO CONTATO ⚠️\n- Contato existe: {{ ($json.contact_exists !== undefined ? $json.contact_exists : $('Set Contact Data').item.json.contact_exists) ? 'SIM ✅' : 'NÃO ❌ - VOCÊ DEVE CADASTRAR AGORA!' }}\n- Nome: {{ $json.contact_name || $('Set Contact Data').item.json.contact_name || 'NÃO CADASTRADO - COLETAR AGORA' }}\n- Email: {{ $json.contact_email || $('Set Contact Data').item.json.contact_email || 'NÃO CADASTRADO - COLETAR AGORA' }}\n- Base: {{ $json.contact_base || $('Set Contact Data').item.json.contact_base || 'NÃO CADASTRADO - COLETAR AGORA' }}\n- Phone-number: {{ $json.contact_phone }}\n\n{{ ($json.contact_exists !== undefined ? $json.contact_exists : $('Set Contact Data').item.json.contact_exists) ? '' : '🚫 ATENÇÃO: CONTATO NÃO EXISTE! Você DEVE coletar nome, email e base ANTES de processar qualquer despesa. NÃO aceite processar despesas até ter esses dados!' }}",
        "options": {
          "systemMessage": "=Você é um classificador financeiro. Seu objetivo é transformar uma entrada do usuário (print/nota + texto) em um registro padronizado para uma planilha com as colunas `data`, `codigo`, `descricao`, `valor`.\n\n**VERIFIQUE PRIMEIRO O STATUS DO CONTATO NO CONTEXTO RECEBIDO:**\n\n**SE O CONTATO JÁ EXISTIR (contact_exists = true):**\n✅ **O CONTATO JÁ ESTÁ CADASTRADO - NÃO PEÇA CADASTRO!**\n- Use automaticamente: email como `requester_email`, base como base padrão\n- Use o nome para personalizar a conversa\n- **PODE PROCESSAR DESPESAS NORMALMENTE**\n- **NÃO mencione cadastro, não peça nome, email ou base**\n- Vá direto para processar a despesa\n\n**SE O CONTATO NÃO EXISTIR (contact_exists = false):**\n🚫 **VOCÊ NÃO PODE PROCESSAR NENHUMA DESPESA ATÉ COLETAR OS DADOS DO CONTATO!**\n\nNa PRIMEIRA mensagem do usuário, você DEVE:\n1. **Cumprimentar** de forma educada\n2. **Explicar** que precisa cadastrar os dados antes de processar despesas\n3. **Coletar OBRIGATORIAMENTE:**\n   - Nome completo da pessoa\n   - Email\n   - Base padrão (ex: SP, RJ, ADM, FRE)\n\n**NÃO ACEITE** processar despesas, imagens, valores ou qualquer outra coisa até ter esses 3 dados!\n\nApós coletar os 3 dados, execute IMEDIATAMENTE a tool \"Save Contact\" com:\n{\n  \"name\": \"nome completo coletado\",\n  \"email\": \"email coletado\",\n  \"base\": \"base coletada\"\n}\n\n(O phone_number será preenchido automaticamente pelo sistema)\n\nINSTRUÇÕES GERAIS\n\nVocê recebe dados que podem vir acompanhados de imagem já analisada por outro agente.  \nAntes de pedir qualquer informação, verifique o contexto recebido:\n- Se existir `imagem_ok = true`, significa que o comprovante já foi processado. **Não peça novamente a imagem.**\n- Se existir `nota_fluxo`, use a mensagem contida nele como orientação (ex.: se foi imagem financeira ou genérica).\n\nFLUXO DE AÇÃO (APENAS SE O CONTATO JÁ EXISTIR OU APÓS CADASTRAR)\n\n1. **Imagem**\n   - Se o usuário **não enviou imagem** e `imagem_ok` não existir:\n     → Diga: \"Por favor, me envie o comprovante (print ou foto da nota).\"\n     → Não continue até receber.\n   - Se o usuário **enviou imagem**, use a descrição e o valor retornados pelo nó anterior como base.  \n     → **Não peça novamente a imagem.**\n\n2. **Descrição**\n   - Mesmo com imagem, sempre confirme com o usuário **sobre o que foi a compra** (ex.: \"Uber\", \"Almoço\", \"Pagamento de software\").\n   - Use algo como:\n     → \"Pode me dizer em poucas palavras sobre o que foi essa compra?\"\n   - A resposta deve gerar uma descrição curta (3–10 palavras).\n\n3. **Valor**\n   - Se o valor já veio do nó anterior (`valor` válido), apenas confirme:\n     → \"O valor é R$ {valor_formatado}, certo?\"\n   - Se não houver valor:\n     → \"Me envie o valor da compra (ex.: 129,90).\"\n\n4. **Normalização**\n   - Descrição: 3–10 palavras, sem emojis ou adjetivos.\n   - Valor: aceite 129,90 / R$ 129,90 / 1.299,90 / 129.90.\n     → Remova R$, espaços e pontos de milhar.  \n     → Converta vírgula para ponto (ex.: 98.70).\n   - Data: use hoje no fuso America/Sao_Paulo (YYYY-MM-DD).\n   - Se o valor estiver inválido:\n     → \"Não entendi o valor. Envie no formato 129,90.\"\n\n5. **Sugestão de códigos**\n   Gere 5 opções no formato COD — Rótulo (3–6 caracteres), baseadas na descrição e no tipo de gasto identificado pela imagem.\n\n   Modelo de lista:\n   1) ALM — Alimentação  \n   2) TRA — Transporte  \n   3) MKT — Marketing  \n   4) ADM — Administrativo  \n   5) FRE — Frete/Entrega\n\n   **Códigos padrão personalizados:**\n   [ESPAÇO PARA CÓDIGOS PADRÃO]\n\n   Diga:\n   → \"Escolha 1–5 ou digite um código manual.\"\n\n6. **Escolha do cliente**\n   - Se o usuário responder 1–5 → mapeie para o código correspondente.\n   - Se digitar um código manual (ex.: SAU) → use exatamente como enviado (maiúsculo).\n\n7. **Pré-visualização**\n   Mostre o resumo exatamente assim:\nVou registrar assim:\ndata: YYYY-MM-DD\ncódigo: COD\ndescrição: \"TEXTO\"\nvalor: 123.45\nConfirmar? (sim/não)\n\n- Se responder \"não\": permita editar descrição, valor e/ou código e repita o preview.\n\n8. **Confirmação final**\nQuando o usuário confirmar, execute a tool `\"Append Lançamento\"` e envie:\n{\n\"data\": \"YYYY-MM-DD\",\n\"codigo\": \"COD\",\n\"descricao\": \"TEXTO CURTO\",\n\"valor\": 123.45\n}\n\nPOLÍTICAS\n\n- Tom direto, educado e curto (pt-BR).  \n- Nunca invente valores nem códigos — sempre confirme antes de enviar.  \n- Se houver data explícita na nota e o usuário confirmar, use-a (YYYY-MM-DD).  \n- Não armazene imagens; use apenas como apoio para classificar.  \n- Sempre confirme antes de enviar para a planilha.  \n- Se `imagem_ok` for true, pule pedidos de imagem, mas peça sempre a descrição curta do gasto.\n\n⚠️ **LEMBRE-SE: VERIFIQUE O CONTEXTO! Se contact_exists = true, o contato JÁ EXISTE - NÃO peça cadastro, processe despesas normalmente. Se contact_exists = false, ENTÃO colete nome, email e base PRIMEIRO e salve com a tool \"Save Contact\". Só depois processe despesas.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -2816,
        4432
      ],
      "id": "e3fa69a1-3a5c-42d5-ba7e-5145fc682482",
      "name": "Secretária1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.output }}",
        "messageData": "={{ JSON.stringify({ role: 'assistant', content: $('Secretária1').item.json.output }) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2448,
        4432
      ],
      "id": "c9b33c89-1db0-4be8-add5-ec54781ff4f0",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "WCc2AqjhU9R8RNcQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3152,
        4640
      ],
      "id": "8bc5648a-157a-4812-a683-a290cddc5cab",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ykqKuFF5CKnlJHMM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Data Handler').item.json.evo.server_url + '/message/sendText/' + $('Data Handler').item.json.evo.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Data Handler').item.json.evo.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  number: $('Data Handler').item.json.data.remoteJid.replace(\"@s.whatsapp.net\", \"\"),\n  text: $json.output,\n  options: { delay: 2000, presence: \"composing\" }\n} }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2224,
        4432
      ],
      "id": "ea29914b-c91a-4f16-972c-311378ec439d",
      "name": "Send Text1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8431e7e1-f41c-4015-b94e-b0da64830ac5",
              "name": "imagem",
              "value": "={{ $('Data Handler').item.json.base64 }}",
              "type": "string"
            },
            {
              "id": "73a5ce75-decd-4663-b34b-4ef8f0fa2bb3",
              "name": "text",
              "value": "={{ $('Data Handler').item.json.data.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4992,
        4416
      ],
      "id": "2805e18f-a605-422a-9a05-a3984f9ecfc0",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.identifier }}\n",
        "sessionTTL": 1800,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -3008,
        4640
      ],
      "id": "3c0fdf52-489a-47d4-960e-609485277ec5",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "WCc2AqjhU9R8RNcQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "name": "=comprovante- {{ $('Webhook').item.json.body.date_time }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1kKEoQsc0DP1CE_PygA_5VcVmx5NMUL6C",
          "mode": "list",
          "cachedResultName": "comprovantes",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1kKEoQsc0DP1CE_PygA_5VcVmx5NMUL6C"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4384,
        4416
      ],
      "id": "aace1444-1e38-401e-8299-5ec6f411bb85",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rEyxZHHv6D1E2Tyk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S2YKyux4BnzzaXJl",
          "mode": "list",
          "cachedResultUrl": "/workflow/S2YKyux4BnzzaXJl",
          "cachedResultName": "Registrar Lançamento no Dash"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "base": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('base', ``, 'string') }}",
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', ``, 'string') }}",
            "amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('amount', ``, 'string') }}",
            "receipt_url": "={{ $json.link_comprovante }}",
            "note": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('note', ``, 'string') }}",
            "codigo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('codigo', ``, 'string') }}",
            "numero": "={{ $('Get Contact').item.json.contact.phone_number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "base",
              "displayName": "base",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "receipt_url",
              "displayName": "receipt_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "codigo",
              "displayName": "codigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "link_comprovante",
              "displayName": "link_comprovante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -2816,
        4640
      ],
      "id": "c98173e6-4acd-4ebc-b29e-a9f9dd07e44f",
      "name": "Call 'My Sub-Workflow 1'1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Você é um extrator de campos a partir de imagens de notas/recibos/comprovantes. Analise apenas a imagem recebida e responda SOMENTE em JSON, sem qualquer texto extra.\n\nObjetivo: retornar uma descrição curta (3–8 palavras) e o valor total. Se não houver elementos financeiros, sinalize que precisa de input do usuário.\n\nRegras de extração\n\n• Procure por: “Total”, “Valor final”, “Total a pagar”, “Valor do PIX”, “Valor da transação”.\n• Aceite formatos BR: R$ 1.234,56, 129,90, 1.299,90, 129.90.\n  → Remova “R$”, espaços e pontos de milhar; converta vírgula decimal para ponto (ex.: 98.70).\n• Se houver múltiplos valores, escolha o TOTAL (não some itens).\n• Se houver data legível, retorne em YYYY-MM-DD (opcional).\n• A descrição deve ser curta e objetiva (ex.: “Almoço iFood”, “Uber reunião”, “Supermercado”).\n\nSinalização para o próximo agente (muito importante)\n• Inclua um campo booleano \"imagem_ok\".\n  - true quando a imagem foi analisada com sucesso (mesmo que não seja possível extrair valor com confiança).\n  - false apenas se a imagem estiver ilegível/corrompida.\n• Inclua um campo \"nota_fluxo\" com uma frase curta para o próximo agente:\n  - Se imagem foi processada: \"Imagem analisada com sucesso; não peça comprovante.\"\n  - Se não for documento financeiro ou faltar valor: \"Imagem não financeira ou sem valor; peça descrição e valor.\"\n  - Se ilegível: \"Imagem ilegível; peça um novo comprovante.\"\n\nSaída OBRIGATÓRIA (JSON, sem comentários e sem texto fora do JSON):\n{\n  \"descricao\": \"texto curto ou \\\"\\\"\",\n  \"valor\": 123.45,\n  \"data\": \"YYYY-MM-DD\",\n  \"confianca\": 0.0,\n  \"needs_input\": false,\n  \"pergunta\": \"\",\n  \"imagem_ok\": true,\n  \"nota_fluxo\": \"mensagem curta para o próximo agente\"\n}\n\nCampos:\n• descricao: string curta; \"\" se não identificada.\n• valor: número decimal (ponto) ou null quando não identificado.\n• data: \"YYYY-MM-DD\" ou \"\".\n• confianca: 0–1 (certeza da extração).\n• needs_input: true quando faltar valor OU a imagem não for financeira.\n• pergunta: quando needs_input = true, use exatamente:\n  Me envie uma descrição curta e o valor (ex.: 129,90).\n• imagem_ok: conforme regras acima.\n• nota_fluxo: conforme regras acima.\n\nExemplos:\n\nNota com “Total R$ 98,70”\n{\"descricao\":\"Almoço iFood\",\"valor\":98.70,\"data\":\"2025-10-17\",\"confianca\":0.86,\"needs_input\":false,\"pergunta\":\"\",\"imagem_ok\":true,\"nota_fluxo\":\"Imagem analisada com sucesso; não peça comprovante.\"}\n\nFoto genérica / sem valores\n{\"descricao\":\"\",\"valor\":null,\"data\":\"\",\"confianca\":0.18,\"needs_input\":true,\"pergunta\":\"Me envie uma descrição curta e o valor (ex.: 129,90).\",\"imagem_ok\":true,\"nota_fluxo\":\"Imagem não financeira ou sem valor; peça descrição e valor.\"}\n\nImagem ilegível\n{\"descricao\":\"\",\"valor\":null,\"data\":\"\",\"confianca\":0.05,\"needs_input\":true,\"pergunta\":\"Me envie uma descrição curta e o valor (ex.: 129,90).\",\"imagem_ok\":false,\"nota_fluxo\":\"Imagem ilegível; peça um novo comprovante.\"}\n",
        "imageUrls": "={{ $('Upload file1').item.json.thumbnailLink }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -3968,
        4416
      ],
      "id": "c9af87bc-9569-4aa6-b135-1d001e8151ad",
      "name": "Analyse Image1",
      "credentials": {
        "openAiApi": {
          "id": "ykqKuFF5CKnlJHMM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -6368,
        4448
      ],
      "id": "15e18670-e18f-4b6c-922c-d9e9352c43e9",
      "name": "Wait1",
      "webhookId": "38076127-d3ec-4267-b676-e6aa9f61796d"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "value": "="
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4192,
        4192
      ],
      "id": "1db863f6-256d-4107-9018-8168a6bda734",
      "name": "Text Memory",
      "credentials": {
        "redis": {
          "id": "WCc2AqjhU9R8RNcQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3914c16c-2152-4e10-880e-b3489138e5ee",
              "name": "url_desc",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4256,
        4416
      ],
      "id": "c615fdd8-0021-414d-8f6e-36aedd1ad226",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Data Handler').item.json.data.remoteJid }}",
        "value": "={{ $json.url_desc }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4112,
        4416
      ],
      "id": "a9e9982f-1722-4b69-aca0-db59ce3bad8c",
      "name": "Store Receipt Link1",
      "credentials": {
        "redis": {
          "id": "WCc2AqjhU9R8RNcQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.identifier || $('Data Handler').item.json.data.remoteJid }}",
        "options": {
          "propertyName": "receipt_link"
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3328,
        4432
      ],
      "id": "280e53a1-2be3-4fad-aa97-2dec19c943f9",
      "name": "Get Receipt Link1",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "WCc2AqjhU9R8RNcQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "204639b2-7c10-4fe4-af43-6ad8179d84e7",
              "name": "Mensagemtratada",
              "value": "={{ $json.Mensagemtratada || $json.text || $('Edit Fields6').item.json.Mensagemtratada || '' }}",
              "type": "string"
            },
            {
              "id": "6541f5b8-d3cc-41b4-ac2a-1d60d4d542f6",
              "name": "identifier",
              "value": "={{ $json.identifier || $('Data Handler').item.json.data.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a736a82f-9666-4926-a9e8-9533728d4ea6",
              "name": "link_comprovante",
              "value": "={{ $json.link_comprovante || $json.propertyName || $json.value || '' }}",
              "type": "string"
            },
            {
              "id": "contact-exists-field",
              "name": "contact_exists",
              "value": "={{ $json.contact_exists !== undefined ? $json.contact_exists : $('Set Contact Data').item.json.contact_exists }}",
              "type": "boolean"
            },
            {
              "id": "contact-name-field",
              "name": "contact_name",
              "value": "={{ $json.contact_name || $('Set Contact Data').item.json.contact_name || '' }}",
              "type": "string"
            },
            {
              "id": "contact-email-field",
              "name": "contact_email",
              "value": "={{ $json.contact_email || $('Set Contact Data').item.json.contact_email || '' }}",
              "type": "string"
            },
            {
              "id": "contact-base-field",
              "name": "contact_base",
              "value": "={{ $json.contact_base || $('Set Contact Data').item.json.contact_base || '' }}",
              "type": "string"
            },
            {
              "id": "contact-phone-field",
              "name": "contact_phone",
              "value": "={{ $json.contact_phone || $('Set Contact Data').item.json.contact_phone || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3088,
        4432
      ],
      "id": "0d191163-5b2b-4f9e-a3d4-a8551cc71903",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -2592,
        4640
      ],
      "id": "93b4fc47-8e7a-4372-af98-ca7f9a771508",
      "name": "Get row(s) in sheet in Google Sheets"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact": {
      "main": [
        [
          {
            "node": "Set Contact Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Contact Data": {
      "main": [
        [
          {
            "node": "Check Contact Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Contact Exists": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare First Time Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare First Time Flow": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Contact": {
      "ai_tool": [
        [
          {
            "node": "Secretária1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data Handler": {
      "main": [
        [
          {
            "node": "Get Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Memory1": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "Text Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Get Receipt Link1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secretária1": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Send Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Secretária1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Secretária1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'My Sub-Workflow 1'1": {
      "ai_tool": [
        [
          {
            "node": "Secretária1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Image1": {
      "main": [
        [
          {
            "node": "Image Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Data Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Memory": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Store Receipt Link1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Receipt Link1": {
      "main": [
        [
          {
            "node": "Analyse Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Receipt Link1": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Secretária1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Secretária1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "connection": "keep-alive",
          "host": "n8n.appsoncafari.cloud",
          "x-forwarded-scheme": "https",
          "x-forwarded-proto": "https",
          "x-forwarded-for": "172.24.0.1",
          "x-real-ip": "172.24.0.1",
          "content-length": "1855",
          "accept": "application/json, text/plain, */*",
          "content-type": "application/json",
          "user-agent": "axios/1.13.2",
          "accept-encoding": "gzip, compress, deflate, br"
        },
        "params": {},
        "query": {},
        "body": {
          "event": "messages.upsert",
          "instance": "aprovacao-oncafari",
          "data": {
            "key": {
              "remoteJid": "5513991698163@s.whatsapp.net",
              "remoteJidAlt": "111111407943809@lid",
              "fromMe": false,
              "id": "3EB097F4DDE323C35170D6",
              "participant": "",
              "addressingMode": "pn"
            },
            "pushName": "Danilo Vieira",
            "status": "DELIVERY_ACK",
            "message": {
              "messageContextInfo": {
                "threadId": [],
                "deviceListMetadata": {
                  "senderKeyIndexes": [],
                  "recipientKeyIndexes": [],
                  "senderKeyHash": {
                    "0": 77,
                    "1": 151,
                    "2": 192,
                    "3": 204,
                    "4": 180,
                    "5": 236,
                    "6": 217,
                    "7": 170,
                    "8": 192,
                    "9": 10
                  },
                  "senderTimestamp": {
                    "low": 1768946413,
                    "high": 0,
                    "unsigned": true
                  },
                  "senderAccountType": 0,
                  "receiverAccountType": 0,
                  "recipientKeyHash": {
                    "0": 74,
                    "1": 136,
                    "2": 159,
                    "3": 144,
                    "4": 34,
                    "5": 139,
                    "6": 180,
                    "7": 242,
                    "8": 70,
                    "9": 84
                  },
                  "recipientTimestamp": {
                    "low": 1769095496,
                    "high": 0,
                    "unsigned": true
                  }
                },
                "deviceListMetadataVersion": 2,
                "messageSecret": {
                  "0": 235,
                  "1": 23,
                  "2": 214,
                  "3": 56,
                  "4": 78,
                  "5": 58,
                  "6": 25,
                  "7": 0,
                  "8": 197,
                  "9": 207,
                  "10": 172,
                  "11": 147,
                  "12": 23,
                  "13": 79,
                  "14": 209,
                  "15": 169,
                  "16": 72,
                  "17": 59,
                  "18": 220,
                  "19": 65,
                  "20": 46,
                  "21": 85,
                  "22": 22,
                  "23": 23,
                  "24": 149,
                  "25": 192,
                  "26": 29,
                  "27": 183,
                  "28": 157,
                  "29": 185,
                  "30": 10,
                  "31": 38
                },
                "limitSharingV2": {
                  "sharingLimited": false,
                  "trigger": 0,
                  "limitSharingSettingTimestamp": {
                    "low": 0,
                    "high": 0,
                    "unsigned": false
                  },
                  "initiatedByMe": false
                }
              },
              "conversation": "danilo vieira\ndanilo@gmail.com\nsp"
            },
            "contextInfo": {
              "mentionedJid": [],
              "groupMentions": [],
              "statusAttributions": [],
              "ephemeralSettingTimestamp": {
                "low": 1768955187,
                "high": 0,
                "unsigned": false
              },
              "disappearingMode": {
                "initiator": 0,
                "trigger": 1,
                "initiatedByMe": false
              }
            },
            "messageType": "conversation",
            "messageTimestamp": 1769128005,
            "instanceId": "aab983ca-77ca-4014-9352-b4a78ba71f9f",
            "source": "web"
          },
          "destination": "https://n8n.appsoncafari.cloud/webhook/filtro-notas",
          "date_time": "2026-01-22T21:26:45.679Z",
          "sender": "5513992063837@s.whatsapp.net",
          "server_url": "http://localhost:3000",
          "apikey": "F157730C4181-49EF-ADC2-3B8498F27A8B"
        },
        "webhookUrl": "https://n8n.appsoncafari.cloud/webhook/filtro-notas",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2537f6f949a524b5549473105e05026197c278752d28105c698c5d0d6b84b3f8"
  }
}