resposta-webhook-workflow.json
{
  "name": "Resposta de Aprovação - WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resposta",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "a285f6f0-7b03-4e95-8523-1b91d682c0a9",
      "name": "Webhook",
      "webhookId": "b587d461-e457-4bb8-823f-940c934e809b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "evo-server-url",
              "name": "evo.server_url",
              "value": "=https://evo.appsoncafari.cloud",
              "type": "string"
            },
            {
              "id": "evo-instance",
              "name": "evo.instance",
              "value": "={{ $env.EVO_INSTANCE || 'sua-instancia-aqui' }}",
              "type": "string"
            },
            {
              "id": "evo-apikey",
              "name": "evo.apikey",
              "value": "={{ $env.EVO_APIKEY || 'B6D711FCDE4D4FD5936544120E713976' }}",
              "type": "string"
            },
            {
              "id": "telefone",
              "name": "telefone",
              "value": "={{ $json.body.telefone }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.body.status }}",
              "type": "string"
            },
            {
              "id": "descricao",
              "name": "descricao",
              "value": "={{ $json.body.descricao }}",
              "type": "string"
            },
            {
              "id": "id_code",
              "name": "id_code",
              "value": "={{ $json.body.id_code }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [144, 0],
      "id": "4479587d-32d5-4481-a701-f0a43a7a41e6",
      "name": "Data Handler1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Data Handler1').item.json.evo.server_url + '/message/sendText/' + $('Data Handler1').item.json.evo.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Data Handler1').item.json.evo.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  number: $('Data Handler1').item.json.telefone.replace(/[^0-9]/g, ''),\n  text: (\n    $('Data Handler1').item.json.status === 'aprovar' \n      ? '✅ Aprovado' \n      : $('Data Handler1').item.json.status === 'rejeitar' \n      ? '❌ Rejeitado' \n      : '⚠️ Solicitação de Esclarecimento'\n  ) + ($('Data Handler1').item.json.descricao && $('Data Handler1').item.json.descricao.trim() !== '' ? '\\n\\n' + $('Data Handler1').item.json.descricao : ''),\n  options: { delay: 2000, presence: \"composing\" }\n} }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [352, 0],
      "id": "01fa4b86-5c6c-4686-8e91-4dc87cbb83c0",
      "name": "Send WhatsApp"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Data Handler1", "type": "main", "index": 0 }]]
    },
    "Data Handler1": {
      "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "2537f6f949a524b5549473105e05026197c278752d28105c698c5d0d6b84b3f8"
  }
}
