workflows/Classificador - Fluxo Concreto.json
{
  "name": "Classificador - Fluxo Concreto",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mensagem-first-time",
              "name": "Mensagemtratada",
              "value": "={{ $('Data Handler1').item.json.data.text }}",
              "type": "string"
            },
            {
              "id": "identifier-first-time",
              "name": "identifier",
              "value": "={{ $('Data Handler1').item.json.data.remoteJid }}",
              "type": "string"
            },
            {
              "id": "contact-exists-first-time",
              "name": "contact_exists",
              "value": "={{ $json.contact_exists }}",
              "type": "boolean"
            },
            {
              "id": "contact-phone-first-time",
              "name": "contact_phone",
              "value": "={{ $json.contact_phone }}",
              "type": "string"
            },
            {
              "id": "link-comprovante-first-time",
              "name": "link_comprovante",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5728,
        688
      ],
      "id": "c54a8921-e6f7-426a-8b1f-14d684daa10d",
      "name": "Prepare First Time Flow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Lg1lhzPZHfy0IPkCvZkxB",
          "mode": "list",
          "cachedResultUrl": "/workflow/Lg1lhzPZHfy0IPkCvZkxB",
          "cachedResultName": "Save Contact"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "base": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('base', ``, 'string') }}",
            "phone_number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone_number', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "base",
              "displayName": "base",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -4272,
        672
      ],
      "id": "b57eee54-a842-4aa3-911f-f5ae9f1192ab",
      "name": "Save Contact"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Data Handler1').item.json.data.remoteJid }}:memory",
        "value": "={{ $json.content }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5408,
        432
      ],
      "id": "ef74d451-00d5-42f9-9cf6-a114ecc52485",
      "name": "Image Memory1",
      "credentials": {
        "redis": {
          "id": "WCc2AqjhU9R8RNcQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Questão do Usuário:{{ $json.Mensagemtratada }};\n\n⚠️ STATUS DO CONTATO ⚠️\n- Contato existe: {{ ($json.contact_exists !== undefined ? $json.contact_exists : $('Set Contact Data1').item.json.contact_exists) ? 'SIM ✅' : 'NÃO ❌ - VOCÊ DEVE CADASTRAR AGORA!' }}\n- Nome: {{ $json.contact_name || $('Set Contact Data1').item.json.contact_name || 'NÃO CADASTRADO - COLETAR AGORA' }}\n- Email: {{ $json.contact_email || $('Set Contact Data1').item.json.contact_email || 'NÃO CADASTRADO - COLETAR AGORA' }}\n- Base: {{ $json.contact_base || $('Set Contact Data1').item.json.contact_base || 'NÃO CADASTRADO - COLETAR AGORA' }}\n- Phone-number: {{ $json.contact_phone }}\n\n{{ ($json.contact_exists !== undefined ? $json.contact_exists : $('Set Contact Data1').item.json.contact_exists) ? '' : '🚫 ATENÇÃO: CONTATO NÃO EXISTE! Você DEVE coletar nome, email e base ANTES de processar qualquer despesa. NÃO aceite processar despesas até ter esses dados!' }}",
        "options": {
          "systemMessage": "=Você é um classificador financeiro. Seu objetivo é transformar uma entrada do usuário (print/nota + texto) em um registro padronizado para uma planilha com as colunas `data`, `codigo`, `descricao`, `valor`.\n\n**VERIFIQUE PRIMEIRO O STATUS DO CONTATO NO CONTEXTO RECEBIDO:**\n\n**SE O CONTATO JÁ EXISTIR (contact_exists = true):**\n✅ **O CONTATO JÁ ESTÁ CADASTRADO - NÃO PEÇA CADASTRO!**\n- Use automaticamente: email como `requester_email`, nome para personalizar\n- **PODE PROCESSAR DESPESAS NORMALMENTE**\n- **NÃO mencione cadastro, não peça nome ou email**\n- **Base**: Ofereça primeiramente a \"Base padrão\" dele (fornecida no status do contato). Se ele não quiser, use a tool para listar as bases disponíveis.\n\n**SE O CONTATO NÃO EXISTIR (contact_exists = false):**\n🚫 **VOCÊ NÃO PODE PROCESSAR NENHUMA DESPESA ATÉ COLETAR OS DADOS DO CONTATO!**\n\nNa PRIMEIRA mensagem do usuário, você DEVE:\n1. **Cumprimentar** de forma educada\n2. **Explicar** que precisa cadastrar os dados antes de processar despesas\n3. **Coletar OBRIGATORIAMENTE:**\n   - Nome completo da pessoa\n   - Email\n   - Base padrão (use listas-supabase com tipo \"bases\" para listar opções)\n\n**NÃO ACEITE** processar despesas, imagens, valores ou qualquer outra coisa até ter esses 3 dados!\n\nApós coletar os 3 dados, execute IMEDIATAMENTE a tool \"Save Contact\" com:\n{\n  \"name\": \"nome completo coletado\",\n  \"email\": \"email coletado\",\n  \"base\": \"base coletada\"\n}\n\n(O phone_number será preenchido automaticamente pelo sistema)\n\nINSTRUÇÕES GERAIS\n\nVocê recebe dados que podem vir acompanhados de imagem já analisada por outro agente.  \nAntes de pedir qualquer informação, verifique o contexto recebido:\n- Se existir `imagem_ok = true`, significa que o comprovante já foi processado. **Não peça novamente a imagem.**\n- Se existir `nota_fluxo`, use a mensagem contida nele como orientação (ex.: se foi imagem financeira ou genérica).\n\nLISTA DE BASES E FORNECEDORES CHAME A TOOL:\n- listas-supabase\n\nFLUXO DE AÇÃO (APENAS SE O CONTATO JÁ EXISTIR OU APÓS CADASTRAR)\n\n1. **Imagem**\n   - Se o usuário **não enviou imagem** e `imagem_ok` não existir:\n     → Diga: \"Por favor, me envie o comprovante (print ou foto da nota).\"\n     → Não continue até receber.\n   - Se o usuário **enviou imagem**, use a descrição e o valor retornados pelo nó anterior como base.  \n     → **Não peça novamente a imagem.**\n\n2. **Descrição**\n   - Sempre pergunte com o usuário **sobre o que foi a compra** (ex.: \"Uber\", \"Almoço\", \"Pagamento de software\").\n   - Use algo como:\n     → \"Pode me dizer em poucas palavras sobre o que foi essa compra?\"\n   - A resposta deve gerar uma descrição curta (3–10 palavras).\n\n3. **Valor**\n   - Se não houver valor ou se o valor for inválido:\n     → \"Me envie o valor da compra (ex.: 129,90).\"\n\n4. **Normalização**\n   - Descrição: 3–10 palavras, sem emojis ou adjetivos.\n   - Valor: aceite 129,90 / R$ 129,90 / 1.299,90 / 129.90.\n     → Remova R$, espaços e pontos de milhar.  \n     → Converta vírgula para ponto (ex.: 98.70).\n   - Data: use hoje no fuso America/Sao_Paulo (YYYY-MM-DD).\n   - Se o valor estiver inválido:\n     → \"Não entendi o valor. Envie no formato 129,90.\"\n\n4b. **Campos adicionais** (UMA pergunta por vez — espere a resposta antes da próxima):\n   1. **Base** (Base = Centro de Custo): Antes de listar as bases, pergunte se a pessoa quer cadastrar a despesa usando a \"Base padrão\" dela (verifique a linha \"Base:\" nas informações do contexto acima). Exemplo: \"Deseja registrar na sua base padrão (Nome_da_Base) ou em outra?\". Se ela quiser outra base, OBRIGATÓRIO chamar a tool \"listas-supabase\" buscando \"bases\" e LISTAR as opções numéricas na tela.\n   2. Fornecedor: OBRIGATÓRIO: você deve usar a tool \"listas-supabase\" para buscar \"fornecedores\" e LISTAR as opções numéricas na sua mensagem para o usuário.\n   3. NF: \"Qual o número da Nota Fiscal? (ou diga não tenho)\"\n   4. Forma de Pagamento: PIX, Boleto, etc. Use lista.\n   5. Se Boleto: data de vencimento (YYYY-MM-DD).\n\n5. **Sugestão de códigos / Nº de Referência (OBRIGATÓRIO usar a tool listas-supabase)**\n   ⚠️ **PROIBIDO inventar códigos.** Os códigos ALM, TRA, MKT, ADM, FRE **NÃO EXISTEM MAIS** — nunca os use.\n\n   **SEMPRE execute a tool listas-supabase ANTES de sugerir.** Se a tool falhar ou retornar erro:\n   → Diga: \"Não consegui carregar os códigos no momento. Tente novamente em instantes.\"\n   → **NUNCA** use ALM, TRA, MKT, ADM, FRE como fallback.\n\n   **Passo a passo:**\n   1. Execute listas-supabase: {\"tipo\": \"codigos\"} e, se o usuário já escolheu a base nesta conversa, inclua {\"base\": \"nome_da_base\"}. Ex: {\"tipo\": \"codigos\", \"base\": \"VEREDAS\"}\n   2. Use APENAS os códigos retornados pela tool (formato: numero_referencia + descrição, ex: 6.6.1 — SUPERMERCADO CONVIDADOS)\n   3. Filtre/sugira os mais relevantes para a descrição (ex: \"compra ração\" → códigos relacionados a alimentação, veterinária, animais)\n   4. Apresente numerado: \"1) 6.6.1 — SUPERMERCADO CONVIDADOS\" etc\n   5. Diga: \"Escolha o número ou digite o código manual.\"\n\n   **Base para filtrar:** Use a base que o usuário escolheu na conversa (se mudou) ou a base do contexto. Se não houver base, use {\"tipo\": \"codigos\"} sem filtro.\n\n6. **Escolha do cliente**\n   - Se o usuário responder 1–5 → mapeie para o código correspondente.\n   - Se digitar um código manual (ex.: 6.6.1) → use exatamente como enviado.\n\n7. **Pré-visualização (SOMENTE APÓS COLETAR TODOS OS DADOS INDIVIDUALMENTE)**\n   ⚠️ IMPORTANTE: NÃO EXIBA A PRÉ-VISUALIZAÇÃO ANTES DE TER RECEBIDO A RESPOSTA PARA CADA UM DOS CAMPOS!\n   É ESTRITAMENTE PROIBIDO mostrar o resumo com campos marcados como \"(informe)\".\n   Faça a coleta de UM CAMPO POR VEZ, esperando a resposta do usuário antes de pedir o próximo.\n   NÃO faça perguntas de confirmação adicionais (ex: \"A base é tal, certo?\") antes de mostrar o resumo. A própria exibição do resumo já é a confirmação.\n   APENAS depois que todos os dados foram preenchidos com informações reais, mostre o resumo completo:\n   NUNCA salve sem confirmar todos os campos. Mostre o resumo completo:\nVou registrar assim:\n- Base: NOME\n- Data Entrada: YYYY-MM-DD\n- Fornecedor: NOME\n- Descritivo: \"TEXTO\"\n- Valor: R$ 123,45\n- NF: número ou vazio\n- Forma de Pagamento: PIX/Boleto/etc\n- Data Vencimento Boleto: YYYY-MM-DD (só se Boleto)\n- Nº de Referência: X.X.X — DESCRIÇÃO\n- Código/Base: COD / BASE\nConfirmar? (sim/não)\n\n- Se \"não\": permita editar qualquer campo e repita. Só execute Append Lançamento após \"sim\".\n\n8. **Confirmação final**\nQuando o usuário confirmar, execute a tool \"Append Lançamento\" com TODOS os campos. **CRÍTICO - description:** Use o nome exato `description` (não \"descritivo\"). É o descritivo da compra. NUNCA deixe vazio. **OBRIGATÓRIO:** Envie os 12 campos. Para nf, data_vencimento_boleto e note use \"\" se vazio. amount como string.**\n{\n\"base\": \"NOME_DA_BASE\",\n\"description\": \"TEXTO CURTO (descritivo)\",\n\"amount\": \"123.45\",\n\"note\": \"observação ou vazio\",\n\"codigo\": \"X.X.X\",\n\"data_entrada\": \"YYYY-MM-DD\",\n\"fornecedor\": \"NOME_FORNECEDOR\",\n\"nf\": \"número ou vazio\",\n\"forma_pagamento\": \"PIX ou Boleto\",\n\"data_vencimento_boleto\": \"YYYY-MM-DD ou vazio\",\n\"base_centro_custo\": \"MESMO_VALOR_QUE_BASE\",\n\"numero_referencia\": \"X.X.X — DESCRIÇÃO\"\n}\n\n**CAMPOS - ORDEM DE COLETA (OBRIGATÓRIO PREENCHER TODOS DE FORMA SEQUENCIAL, ESPERANDO RESPOSTA A CADA PERGUNTA):**\nNUNCA tente adivinhar respostas ou enviar o \"Resumo\" antes de todos os campos estarem preenchidos por completo. Pergunte 1 por 1. SE O USUÁRIO JÁ RESPONDEU AO CAMPO, NÃO PERGUNTE NEM PEÇA PARA CONFIRMAR NOVAMENTE, APENAS VÁ PARA O PRÓXIMO:\n- **Data Entrada**: Preenchida automaticamente ao salvar. Não pergunte.\n- **Base** (Base = Centro de Custo): Pergunte APENAS SE AINDA NÃO SOUBER.\n- **Fornecedor**: Sugestões da lista. Se não tiver, usuário informa.\n- **Descritivo**: Descrição da compra (3-10 palavras).\n- **Valor**: Pergunte o valor.\n- **NF**: Número da Nota Fiscal. \n- **Forma de Pagamento**: PIX, Boleto, etc. Use lista. \n- **Se Boleto**: Data de vencimento (YYYY-MM-DD). \n- **Nº de Referência**: Lista Nºs do app de orçamento. \n\nPOLÍTICAS\n\n- OBRIGATÓRIO: SEMPRE que você fizer uma pergunta que requer opções (como Base, Fornecedor, Forma de Pagamento, Código), você DEVE escrever as opções EXPLICITAMENTE na sua mensagem, geralmente de forma numerada (1, 2, 3...)!\n- Tom direto, educado e curto (pt-BR).  \n- **Faça UMA pergunta por vez.** Nunca agrupe várias perguntas numa única mensagem.\n- **NUNCA PEÇA PARA CONFIRMAR DADOS ANTES DA PRÉ-VISUALIZAÇÃO.** Se você já coletou o dado (como base, valor, fornecedor), guarde-o silenciosamente e vá para a próxima pergunta. A Pré-visualização final já servirá como confirmação conjunta.\n- **SEMPRE confirme TODOS os campos JUNTOS no resumo de pré-visualização antes de salvar.** Nunca pule a pré-visualização.\n- Nunca invente valores nem códigos.\n- Se houver data explícita na nota e o usuário confirmar, use-a (YYYY-MM-DD).  \n- Não armazene imagens; use apenas como apoio para classificar.  \n- Se `imagem_ok` for true, pule pedidos de imagem, mas peça sempre a descrição curta do gasto.\n\n⚠️ **LEMBRE-SE: VERIFIQUE O CONTEXTO! Se contact_exists = true, o contato JÁ EXISTE - NÃO peça cadastro, processe despesas normalmente. Se contact_exists = false, ENTÃO colete nome, email e base PRIMEIRO e salve com a tool \"Save Contact\". Só depois processe despesas.**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -4400,
        448
      ],
      "id": "4720842e-ca0b-4e31-a612-26aa776b14b7",
      "name": "Secretária1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.output }}",
        "messageData": "={{ JSON.stringify({ role: 'assistant', content: $('Secretária1').item.json.output }) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4032,
        448
      ],
      "id": "928a3434-10fd-436a-9aa4-272f4a158e08",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "WCc2AqjhU9R8RNcQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4784,
        672
      ],
      "id": "18e900db-af58-478a-bd5b-1b567be04c03",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ykqKuFF5CKnlJHMM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.identifier }}\n",
        "sessionTTL": 1800,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -4592,
        656
      ],
      "id": "b041de4a-d712-4c33-86ea-82f3c374e9f1",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "WCc2AqjhU9R8RNcQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S2YKyux4BnzzaXJl",
          "mode": "list",
          "cachedResultUrl": "/workflow/S2YKyux4BnzzaXJl",
          "cachedResultName": "Registrar Lançamento no Dash"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "base": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('base', ``, 'string') }}",
            "description": "={{ $fromAI('description', 'Compra', 'string') }}",
            "amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('amount', ``, 'string') }}",
            "receipt_url": "={{ $json.link_comprovante }}",
            "note": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('note', ``, 'string') }}",
            "codigo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('codigo', ``, 'string') }}",
            "numero": "={{ $('Get Contact1').item.json.contact.phone_number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "base",
              "displayName": "base",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "receipt_url",
              "displayName": "receipt_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "codigo",
              "displayName": "codigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "link_comprovante",
              "displayName": "link_comprovante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -4432,
        656
      ],
      "id": "a77a2dce-f7dc-45df-888d-90ad1c0711db",
      "name": "Call 'My Sub-Workflow 1'1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mrgnfzxjkhnrdxkfkuxc.supabase.co/functions/v1/get-or-create-contact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1yZ25menhqa2hucmR4a2ZrdXhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUzNzA1NzQsImV4cCI6MjA4MDk0NjU3NH0.jn-tV7wjB8KgVv8KapEJ5sWHT5btHqfVzMBKZ4CzKrU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone_number\": \"{{ $('Data Handler1').item.json.Telefone }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7264,
        448
      ],
      "id": "92a6755f-5def-43b9-903a-b3b1ef150dd1",
      "name": "Get Contact1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "contact-exists",
              "name": "contact_exists",
              "value": "={{ $json.contact ? true : false }}",
              "type": "boolean"
            },
            {
              "id": "contact-name",
              "name": "contact_name",
              "value": "={{ $json.contact?.name || '' }}",
              "type": "string"
            },
            {
              "id": "contact-email",
              "name": "contact_email",
              "value": "={{ $json.contact?.email || '' }}",
              "type": "string"
            },
            {
              "id": "contact-base",
              "name": "contact_base",
              "value": "={{ $json.contact?.base || '' }}",
              "type": "string"
            },
            {
              "id": "contact-phone",
              "name": "contact_phone",
              "value": "={{ $('Data Handler1').item.json.Telefone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7024,
        448
      ],
      "id": "5c2c794f-1bde-46f0-967c-3dce7595a06b",
      "name": "Set Contact Data1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-contact-exists",
              "leftValue": "={{ $json.contact_exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6832,
        448
      ],
      "id": "53cec3bd-42b0-493b-9efe-cfd438141678",
      "name": "Check Contact Exists1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35564665-f6fa-4f4f-b9e2-c2498e15222e",
              "name": "data.remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "5361ccd9-341b-44d2-9ab7-98957588ffcd",
              "name": "data.fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "c3288898-4890-45e6-b8c2-719b467cc2b3",
              "name": "data.id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "97a92e9f-70a0-4e37-b10b-30d61f4fe9e5",
              "name": "data.text",
              "value": "={{ $json.body.data.message.conversation }}{{ $json.body.data.message.extendedTextMessage.text }}",
              "type": "string"
            },
            {
              "id": "713e0d21-8851-4167-9f07-9dffddd49505",
              "name": "data.messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "17ef83c1-581c-4ead-be02-51c07860d60f",
              "name": "data.source",
              "value": "={{ $json.body.data.source }}",
              "type": "string"
            },
            {
              "id": "58baac00-9baf-438d-bfe6-739ea31c349a",
              "name": "evo.server_url",
              "value": "=https://evo.appsoncafari.cloud",
              "type": "string"
            },
            {
              "id": "a24fd771-225b-49a1-a84c-4f74f234c878",
              "name": "evo.instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "582c84eb-0936-4258-8afc-87726a352606",
              "name": "evo.apikey",
              "value": "={{ $json.body.apikey || 'B6D711FCDE4D4FD5936544120E713976' }}",
              "type": "string"
            },
            {
              "id": "78c2763e-193b-4f7a-a9a8-3e198acaf421",
              "name": "data.mediaUrl",
              "value": "={{ $json.body.data.message.audioMessage.url }}",
              "type": "string"
            },
            {
              "id": "301c3b26-6b5b-42a5-875c-a0fe52c36ea1",
              "name": "base64",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            },
            {
              "id": "15e4749f-51d7-44c3-9d8d-5f7c028e589c",
              "name": "Telefone",
              "value": "={{ $json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\") }}",
              "type": "string"
            },
            {
              "id": "92ad044e-f6e6-4d87-8921-2738e74ddde3",
              "name": "nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "73b5e08f-2cea-436f-a32e-70e766dfcb91",
              "name": "mensagem_complete_redis",
              "value": "={{ $json.body.data.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7552,
        448
      ],
      "id": "f4cbaecc-2818-4099-8a79-777b97d446c5",
      "name": "Data Handler1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "imagem",
        "options": {
          "fileName": "converterimagem",
          "mimeType": "=image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -6112,
        448
      ],
      "id": "b8d189b5-4db6-4385-887e-faa9e4dab7e4",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Data Handler1').item.json.data.text }}",
                    "rightValue": {},
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "ae4a01af-effe-4b31-9636-d38c94deb080"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a8f2d2a4-e2a3-4627-9a43-5008fc6579b9",
                    "leftValue": "={{ $json.imagem }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -6352,
        432
      ],
      "id": "46a523ef-38de-4542-9423-d5f960ae56d4",
      "name": "Message Type1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "204639b2-7c10-4fe4-af43-6ad8179d84e7",
              "name": "Mensagemtratada",
              "value": "={{ $json.text }}{{ $json.content || '' }}",
              "type": "string"
            },
            {
              "id": "6541f5b8-d3cc-41b4-ac2a-1d60d4d542f6",
              "name": "identifier",
              "value": "={{ $('Data Handler1').item.json.data.remoteJid }}",
              "type": "string"
            },
            {
              "id": "contact-exists-edit4",
              "name": "contact_exists",
              "value": "={{ $('Set Contact Data1').item.json.contact_exists }}",
              "type": "boolean"
            },
            {
              "id": "contact-name-edit4",
              "name": "contact_name",
              "value": "={{ $('Set Contact Data1').item.json.contact_name || '' }}",
              "type": "string"
            },
            {
              "id": "contact-email-edit4",
              "name": "contact_email",
              "value": "={{ $('Set Contact Data1').item.json.contact_email || '' }}",
              "type": "string"
            },
            {
              "id": "contact-base-edit4",
              "name": "contact_base",
              "value": "={{ $('Set Contact Data1').item.json.contact_base || '' }}",
              "type": "string"
            },
            {
              "id": "contact-phone-edit4",
              "name": "contact_phone",
              "value": "={{ $('Set Contact Data1').item.json.contact_phone || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5120,
        448
      ],
      "id": "93a216b9-aaf3-49c2-adcb-44ffc4cf5cff",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Data Handler1').item.json.evo.server_url + '/message/sendText/' + $('Data Handler1').item.json.evo.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Data Handler1').item.json.evo.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  number: $('Data Handler1').item.json.data.remoteJid.replace(\"@s.whatsapp.net\", \"\"),\n  text: $json.output,\n  options: { delay: 2000, presence: \"composing\" }\n} }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3808,
        448
      ],
      "id": "0bd4616b-4f9c-4027-90fc-8ace62d7244a",
      "name": "Send Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8431e7e1-f41c-4015-b94e-b0da64830ac5",
              "name": "imagem",
              "value": "={{ $('Data Handler1').item.json.base64 }}",
              "type": "string"
            },
            {
              "id": "73a5ce75-decd-4663-b34b-4ef8f0fa2bb3",
              "name": "text",
              "value": "={{ $('Data Handler1').item.json.data.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6576,
        432
      ],
      "id": "b0493b02-1681-4d49-bc9a-85e550d942f7",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "name": "=comprovante- {{ $('Webhook').item.json.body.date_time }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1kKEoQsc0DP1CE_PygA_5VcVmx5NMUL6C",
          "mode": "list",
          "cachedResultName": "comprovantes",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1kKEoQsc0DP1CE_PygA_5VcVmx5NMUL6C"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -5968,
        432
      ],
      "id": "9514fe46-3c5b-4f66-8d0c-d5bd16780f91",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rEyxZHHv6D1E2Tyk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Você é um extrator de campos a partir de imagens de notas/recibos/comprovantes. Analise apenas a imagem recebida e responda SOMENTE em JSON, sem qualquer texto extra.\n\nObjetivo: retornar uma descrição curta (3–8 palavras), o valor total, a data e o número da NF (quando visível). Se não houver elementos financeiros, sinalize que precisa de input do usuário.\n\nRegras de extração\n\n• Procure por: “Total”, “Valor final”, “Total a pagar”, “Valor do PIX”, “Valor da transação”.\n• Aceite formatos BR: R$ 1.234,56, 129,90, 1.299,90, 129.90.\n  → Remova “R$”, espaços e pontos de milhar; converta vírgula decimal para ponto (ex.: 98.70).\n• Se houver múltiplos valores, escolha o TOTAL (não some itens).\n• Se houver data legível, retorne em YYYY-MM-DD (opcional).\n• A descrição deve ser curta e objetiva (ex.: “Almoço iFood”, “Uber reunião”, “Supermercado”).\n\nSinalização para o próximo agente (muito importante)\n• Inclua um campo booleano \"imagem_ok\".\n  - true quando a imagem foi analisada com sucesso (mesmo que não seja possível extrair valor com confiança).\n  - false apenas se a imagem estiver ilegível/corrompida.\n• Inclua um campo \"nota_fluxo\" com uma frase curta para o próximo agente:\n  - Se imagem foi processada: \"Imagem analisada com sucesso; não peça comprovante.\"\n  - Se não for documento financeiro ou faltar valor: \"Imagem não financeira ou sem valor; peça descrição e valor.\"\n  - Se ilegível: \"Imagem ilegível; peça um novo comprovante.\"\n\nSaída OBRIGATÓRIA (JSON, sem comentários e sem texto fora do JSON):\n{\n  \"descricao\": \"texto curto ou \\\"\\\"\",\n  \"valor\": 123.45,\n  \"data\": \"YYYY-MM-DD\",\n  \"confianca\": 0.0,\n  \"needs_input\": false,\n  \"pergunta\": \"\",\n  \"imagem_ok\": true,\n  \"nota_fluxo\": \"mensagem curta para o próximo agente\"\n}\n\nCampos:\n• descricao: string curta; \"\" se não identificada.\n• valor: número decimal (ponto) ou null quando não identificado.\n• data: \"YYYY-MM-DD\" ou \"\".\n• confianca: 0–1 (certeza da extração).\n• needs_input: true quando faltar valor OU a imagem não for financeira.\n• pergunta: quando needs_input = true, use exatamente:\n  Me envie uma descrição curta e o valor (ex.: 129,90).\n• imagem_ok: conforme regras acima.\n• nota_fluxo: conforme regras acima.\n\nExemplos:\n\nNota com “Total R$ 98,70”\n{\"descricao\":\"Almoço iFood\",\"valor\":98.70,\"data\":\"2025-10-17\",\"confianca\":0.86,\"needs_input\":false,\"pergunta\":\"\",\"imagem_ok\":true,\"nota_fluxo\":\"Imagem analisada com sucesso; não peça comprovante.\"}\n\nFoto genérica / sem valores\n{\"descricao\":\"\",\"valor\":null,\"data\":\"\",\"confianca\":0.18,\"needs_input\":true,\"pergunta\":\"Me envie uma descrição curta e o valor (ex.: 129,90).\",\"imagem_ok\":true,\"nota_fluxo\":\"Imagem não financeira ou sem valor; peça descrição e valor.\"}\n\nImagem ilegível\n{\"descricao\":\"\",\"valor\":null,\"data\":\"\",\"confianca\":0.05,\"needs_input\":true,\"pergunta\":\"Me envie uma descrição curta e o valor (ex.: 129,90).\",\"imagem_ok\":false,\"nota_fluxo\":\"Imagem ilegível; peça um novo comprovante.\"}\n",
        "imageUrls": "={{ $('Upload file').item.json.thumbnailLink }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -5552,
        432
      ],
      "id": "cdfdbc7d-b06a-4678-a100-7e804cac00ca",
      "name": "Analyse Image",
      "credentials": {
        "openAiApi": {
          "id": "ykqKuFF5CKnlJHMM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -7952,
        464
      ],
      "id": "0277f610-c319-4896-9f90-0f3baad5bee8",
      "name": "Wait",
      "webhookId": "38076127-d3ec-4267-b676-e6aa9f61796d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3914c16c-2152-4e10-880e-b3489138e5ee",
              "name": "url_desc",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5840,
        432
      ],
      "id": "9f41636e-5946-455c-8b9d-db6d979b1fdb",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Data Handler1').item.json.data.remoteJid }}:link",
        "value": "={{ $json.url_desc }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5696,
        432
      ],
      "id": "79619337-fdfb-469a-baff-960919922e7b",
      "name": "Store Receipt Link",
      "credentials": {
        "redis": {
          "id": "WCc2AqjhU9R8RNcQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "204639b2-7c10-4fe4-af43-6ad8179d84e7",
              "name": "Mensagemtratada",
              "value": "={{ $json.Mensagemtratada || $json.text || $('Edit Fields').item.json.Mensagemtratada || '' }}",
              "type": "string"
            },
            {
              "id": "6541f5b8-d3cc-41b4-ac2a-1d60d4d542f6",
              "name": "identifier",
              "value": "={{ $json.identifier || $('Data Handler1').item.json.data.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a736a82f-9666-4926-a9e8-9533728d4ea6",
              "name": "link_comprovante",
              "value": "={{ $json.link_imagem }}",
              "type": "string"
            },
            {
              "id": "contact-exists-field",
              "name": "contact_exists",
              "value": "={{ $json.contact_exists !== undefined ? $json.contact_exists : $('Set Contact Data1').item.json.contact_exists }}",
              "type": "boolean"
            },
            {
              "id": "contact-name-field",
              "name": "contact_name",
              "value": "={{ $json.contact_name || $('Set Contact Data1').item.json.contact_name || '' }}",
              "type": "string"
            },
            {
              "id": "contact-email-field",
              "name": "contact_email",
              "value": "={{ $json.contact_email || $('Set Contact Data1').item.json.contact_email || '' }}",
              "type": "string"
            },
            {
              "id": "contact-base-field",
              "name": "contact_base",
              "value": "={{ $json.contact_base || $('Set Contact Data1').item.json.contact_base || '' }}",
              "type": "string"
            },
            {
              "id": "contact-phone-field",
              "name": "contact_phone",
              "value": "={{ $json.contact_phone || $('Set Contact Data1').item.json.contact_phone || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4672,
        448
      ],
      "id": "02f4c1d5-8bff-4240-854e-71bf6ae30f70",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "filtro-notas",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -8256,
        464
      ],
      "id": "a737f863-eee1-45d3-8e2d-3ff19dea5fa1",
      "name": "Webhook",
      "webhookId": "ebadc9e0-3431-4cd9-aa9a-76711ef13a70"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Data Handler1').item.json.data.remoteJid }}",
        "value": "="
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5776,
        176
      ],
      "id": "574e17e8-5f6c-471b-917a-0bab52853751",
      "name": "Text Memory",
      "credentials": {
        "redis": {
          "id": "WCc2AqjhU9R8RNcQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wKtqQnOSM0pzuDiL",
          "mode": "list",
          "cachedResultUrl": "/workflow/wKtqQnOSM0pzuDiL",
          "cachedResultName": "Get Lists Data (Supabase)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo', ``, 'string') }}"
          },
          "matchingColumns": [
            "tipo"
          ],
          "schema": [
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -4144,
        672
      ],
      "id": "373f3de5-dccd-43ca-9565-25845f444b45",
      "name": "listas-supabase"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "link_imagem",
        "key": "={{ $json.identifier }}:link",
        "keyType": "string",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4912,
        448
      ],
      "id": "4fcd53d9-4c78-4bd7-b661-7a5093563ca4",
      "name": "Get Receipt Link1",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "WCc2AqjhU9R8RNcQ",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "keep-alive",
            "host": "n8n.appsoncafari.cloud",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "172.24.0.1",
            "x-real-ip": "172.24.0.1",
            "content-length": "1829",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.13.2",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "aprovacao-oncafari",
            "data": {
              "key": {
                "remoteJid": "5513991698163@s.whatsapp.net",
                "remoteJidAlt": "111111407943809@lid",
                "fromMe": false,
                "id": "3EB0EEB093FA80102DC05B",
                "participant": "",
                "addressingMode": "pn"
              },
              "pushName": "Danilo Vieira",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 220,
                      "1": 19,
                      "2": 238,
                      "3": 104,
                      "4": 251,
                      "5": 162,
                      "6": 137,
                      "7": 154,
                      "8": 175,
                      "9": 250
                    },
                    "senderTimestamp": {
                      "low": 1775574120,
                      "high": 0,
                      "unsigned": true
                    },
                    "senderAccountType": 0,
                    "receiverAccountType": 0,
                    "recipientKeyHash": {
                      "0": 74,
                      "1": 136,
                      "2": 159,
                      "3": 144,
                      "4": 34,
                      "5": 139,
                      "6": 180,
                      "7": 242,
                      "8": 70,
                      "9": 84
                    },
                    "recipientTimestamp": {
                      "low": 1774353947,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 46,
                    "1": 181,
                    "2": 188,
                    "3": 2,
                    "4": 146,
                    "5": 97,
                    "6": 148,
                    "7": 30,
                    "8": 221,
                    "9": 225,
                    "10": 73,
                    "11": 77,
                    "12": 162,
                    "13": 6,
                    "14": 247,
                    "15": 177,
                    "16": 44,
                    "17": 46,
                    "18": 38,
                    "19": 179,
                    "20": 84,
                    "21": 140,
                    "22": 127,
                    "23": 171,
                    "24": 232,
                    "25": 208,
                    "26": 33,
                    "27": 148,
                    "28": 216,
                    "29": 170,
                    "30": 121,
                    "31": 136
                  },
                  "limitSharingV2": {
                    "sharingLimited": false,
                    "trigger": 0,
                    "limitSharingSettingTimestamp": {
                      "low": 0,
                      "high": 0,
                      "unsigned": false
                    },
                    "initiatedByMe": false
                  }
                },
                "conversation": "sim"
              },
              "contextInfo": {
                "mentionedJid": [],
                "groupMentions": [],
                "statusAttributions": [],
                "ephemeralSettingTimestamp": {
                  "low": 1775507700,
                  "high": 0,
                  "unsigned": false
                },
                "disappearingMode": {
                  "initiator": 0,
                  "trigger": 1,
                  "initiatedByMe": false
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1775680719,
              "instanceId": "aab983ca-77ca-4014-9352-b4a78ba71f9f",
              "source": "web"
            },
            "destination": "https://n8n.appsoncafari.cloud/webhook/filtro-notas",
            "date_time": "2026-04-08T17:38:39.990Z",
            "sender": "5513992063837@s.whatsapp.net",
            "server_url": "http://localhost:3000",
            "apikey": "F157730C4181-49EF-ADC2-3B8498F27A8B"
          },
          "webhookUrl": "https://n8n.appsoncafari.cloud/webhook/filtro-notas",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Prepare First Time Flow": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Contact": {
      "ai_tool": [
        [
          {
            "node": "Secretária1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Image Memory1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secretária1": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Secretária1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Secretária1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call 'My Sub-Workflow 1'1": {
      "ai_tool": [
        [
          {
            "node": "Secretária1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact1": {
      "main": [
        [
          {
            "node": "Set Contact Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Contact Data1": {
      "main": [
        [
          {
            "node": "Check Contact Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Contact Exists1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare First Time Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Handler1": {
      "main": [
        [
          {
            "node": "Get Contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type1": {
      "main": [
        [
          {
            "node": "Text Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get Receipt Link1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Message Type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Image": {
      "main": [
        [
          {
            "node": "Image Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Data Handler1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Store Receipt Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Receipt Link": {
      "main": [
        [
          {
            "node": "Analyse Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Secretária1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Memory": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "listas-supabase": {
      "ai_tool": [
        [
          {
            "node": "Secretária1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Receipt Link1": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7b36958c-a9c7-41eb-88fc-2af558c0b0dd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2537f6f949a524b5549473105e05026197c278752d28105c698c5d0d6b84b3f8"
  },
  "id": "HRqtM3UNadfayBPP",
  "tags": []
}